<h2 class="sub-header">Team Position</h2>
<div class="table-responsive" ng-show="hasData">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Constructor</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams">
                <td>{{team.position}}</td>
                <td>{{team.Constructor.name}}</td>
                <td>{{team.Constructor.nationality}}</td>
                <td>{{team.points}}</td>
                <td>{{team.wins}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-hide="hasData">
    <div class="alert alert-danger padding20">Data is not available for the season.</div>
</div>
